<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ teacher.name }}</title>
</head>
<body>
    <h1>{{ teacher.name }}</h1>
    <p>email: {{ teacher.email }}</p>
    <p>საგანი: {{ teacher.subject }}</p>

    <a href="/teachers/">← უკან სიაში</a>
    <br>
    <hr>
    <a href="/teachers/{{ teacher.pk }}/update/">✏️ რედაქტირება</a>
    <br>
    <hr>
    <a href="/teachers/{{ teacher.pk }}/delete/">🗑️ წაშლა</a>
</body>
</html>