<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ course.name }}</title>
</head>
<body>
    <h1>{{ course.name }}</h1>
    <p>აღწერა: {{ course.desc }}</p>  

    <a href="/courses/">← უკან სიაში</a>
    <br>
    <hr>
    <a href="/courses/{{ course.pk }}/update/">✏️ რედაქტირება</a>
    <br>
    <hr>
    <a href="/courses/{{ course.pk }}/delete/">🗑️ წაშლა</a>
    <br>
    <hr>
    <a href="/courses/add/">+ კურსის დამატება</a>

</body>
</html>